{% extends 'index.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<h1 align="center">Articles of category {{ category.name }}</h1>
		{% for article in articles_of_category %}
		<div class="col-md-6 col-md-offset-3 article-item">
			<a href="{{ article.get_absolute_url }}"><h2>{{ article.title }}</h2></a>
			<img height="250" width="400" src="{{ article.image.url }}" class="img-responsive">
			<p class="article-content">{{ article.content }}</p>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock content %}